<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#e951a7" />

  <title>Get The Shines Laundry</title>
  <link rel="stylesheet" href="/styles/menu.css">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <link rel="manifest" href="manifest.webmanifest" />

  <script src="app.js"></script>
  <script src="https://use.fontawesome.com/062333f734.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#">About</a></li> -->
            <!-- <li><a href="#">Services</a></li> -->
            <li><a href="tel:08172997990">Contact</a></li>
            <!-- <li><a href="#">Pricing</a></li> -->
            <!-- <li><a href="#">Delivery</a></li> -->
            <!-- <li><a href="#">FAQs</a></li> -->
            <!-- <li><a href="#">Residential</a></li> -->
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Signup</a></li>
            <li><a href="/caps">My Caps Ready?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#">About</a></li> -->
            <!-- <li><a href="#">Services</a></li> -->
            <li><a href="tel:08172997990">Contact</a></li>
            <!-- <li><a href="#">Pricing</a></li> -->
            <!-- <li><a href="#">Delivery</a></li> -->
            <!-- <li><a href="#">FAQs</a></li> -->
            <!-- <li><a href="#">Residential</a></li> -->
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Signup</a></li>
            <li><a href="/caps">My Caps Ready?</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
  </div> <!-- end of main container -->

        <div class="container" id="showcase">
              <div class="caption">
                <p>...Make Laundry Day Easier...Download the CapCare Mobile App Today</p>
              </div>

              <header id="main-header">
                <h1>ArewaCaps</h1>
              </header>

              <!-- <h1 class="showcase-text-1" >Get The Shines =</h2> -->
              <h1 class="showcase-text-2">The Shimmering Shines
                <br>
                 Your Caps Ever Deserve</h2>

         <section class=" container">
          <div class="faq-wrapper">
            
            <div class="five faq-btn">
              <a class="modalBtn faq-btn-a view-more-questions">My Caps Ready?</a>
              </div>
          </div> <!--end faq-wrapper -->  
         </section>        

              <br>
              
   </div> <!--end of showcase-->



        <div class="section wrapper-two">
            <div class="one">
                <i style="color:  #e951a7;" class="fas fa-shuttle-van fa-5x"></i>
                <h2>FREE Pick-up & Delivery</h2>
                <p class="icon-p">Pick-up and delivery are always FREE. We can even arrange to come by while you’re out.</p>
            </div>
            <div class="two">
                <i style="color:  #e951a7;" class="fab fa-servicestack fa-5x"></i>
                <h2>Customized Service</h2>
                <p class="icon-p">Just tell us your laundry preferences and we’ll return your items exactly as requested!</p>
            </div>
            <div class="three">
                <i style="color:  #e951a7;" class="fas fa-hand-point-up fa-5x"></i>
                <h2>Easy Ordering</h2>
                <p class="icon-p">Create an account online and doing the laundry will be as easy as ordering a pizza.</p>
            </div>
            <div class="four">
                <i style="color:  #e951a7;" class="fas fa-stopwatch fa-5x"></i>
                <h2>Fast Turnaround</h2>
                <p class="icon-p">Same-day, next-day and two-day delivery options so your clothes are delivered when you need them.</p>
            </div>
            <div class="five">
                <i style="color:  #e951a7;" class="fas fa-chalkboard-teacher fa-5x"></i>
                <h2>Support</h2>
                <p class="icon-p">Our support agents are on standby to ensure you're laundry needs are met. Contact us through live chat, phone or email.</p>
            </div>
            <div class="six">
                <i style="color:  #e951a7;" class="fas fa-shower fa-5x"></h2></i>
                <h2>Quality Clean</h2>
                <p class="icon-p">From sorting to washing, drying to folding - our laundry pros know how to give your clothes an optimal clean.</p>
            </div>
        <div class="clr"></div>

        </div> <!-- end of wrapper-two -->
        
        <!-- clear both -->
        <div class="clr"></div>

        <!-- how it works  -->
        <section class="section wrapper-how-it-works float-none container">
          <div class="text">
            <hr>
            <h2 class="section-heading" >How it Works</h2>
            <p>
              <br>
              
              #1)
              <b>SIGN-UP:</b>
               Confirm your pickup address and create your account.
              <br>
              <br>
              
              #2)
              <b>SCHEDULE:</b>
               Make an order and choose a day/time for your pickup & delivery.
              <br>
              <br>
              
              #3)
              <b> PICK-UP: </b>
              Package your dirty laundry in 13 gal size trash bags and give to our driver.
              <br>
              <br>
              "
              #4)"
              <b>DELIVERY:</b>
              Receive your freshly clean and folded laundry same day, next day or two days.
            </p>
            <div>
              <a href="#" class="section-btn">View all locations <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="img">
            <img class="hide-on-small section-img" src="https://uploads.taplaundry.com/056cade8-d3ec-429e-8782-3cf3ccb7a85f" alt="">
          </div>
          
        </section>
        
        <!-- pricing/ wash and fold -->

        <section class="section float-none container">
          <div class="hide-on-small section-img">
            <img class="section-img" src="https://uploads.taplaundry.com/75afbbd5-ba0b-40e8-b110-fa374cf3e50d" alt="">
          </div>
          
          <div class="text">
            <hr>
            <h2 class="section-heading">Wash & Fold</h2>
            <h2 class="section-heading-spacing">Low, Flat Rate per Bag</h2>
            <p>
              Never guess what your invoice will be with our easy, 
              flat rate pricing. Simply fill up a 13 gal trash bag or one of 
              our reusable bags and  we'll wash * dry * fold * hang according 
              to your preferences. Kick up your feet and let us do the dirty work.  
            </p>
            <div class="section-button">
              <a href="#" class="section-btn">View view pricing list <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          
        </section>

        <!-- highlight two section/ special processing -->
        <section class="section wrapper-social-processing float-none social-processing container">
          <div class="text">
            <h2 class="section-heading">Special Processing</h2>
            <h2 class="section-heading-spacing">Delicate Wash, Air-dry, Stain Treatment and more...</h2>
            <p>
              Do you have a special request for some / all of your order? We're happy to oblige! Our laundry 
              pros can provide extra services outside standard wash &amp; fold such as; delicate/hand washing, 
              air drying, and stain treatment. We want to make sure your laundry receives 
              the best care and attention.   
            </p>
          </div>
          <div class="img">
            <img class="hide-on-small section-img" src="https://uploads.taplaundry.com/ec8a85a7-c40a-41c3-812d-830c85d30897">
          </div>
          
        </section>

         <!-- highlight three section/ nationwide service -->
         <section class=" section home-page-section-c nationwide-wrapper float-none how-it-works container">
          <div class="img">

            <img class="hide-on-small section-img" src="https://uploads.taplaundry.com/5da2826b-bed7-43ee-9b78-f554ff4719d1">
          </div>
          <div class="text">
            <hr>
            <h2 class="section-heading">Nationwide Service</h2>
            <h2 class="section-heading-spacing">West Coast to East Coast, We've got you covered.</h2>
            <p>
              We are the nation's largest laundry network! Our laundry professionals span from the 
              Pacific shoreline of Seattle to the sandy beaches of Norfolk. We help both household
               and businesses with their laundry needs. 
              Check to see if Laundry Care is in your neighborhood by entering your address below our FAQs. 
            </p>
          </div>
          
          
        </section>

         <!-- FAQ -->
         <section style="background-color: #52b1ff;" class=" container">
            <div class="faq-wrapper">
              <div class="faq-heading">
                <h1 style="text-align: center;">Frequently Asked Questions</h1>            
              </div>

              <div class="one faq">

                <div>
                  How much does it cost?
                  <i class="fa fa-expand" question="6820" aria-hidden="true"></i>
                  <i class="fa fa-compress" question="6820" aria-hidden="true" style="display: none;"></i>  
                </div>

                <br>

                <div class="faq-answer faq-answer-1" question="6820" style="display: none;">For standard, wash &amp; fold service we charge a flat rate per bag. As much as you can fill! 
                  Included with the bag price are items needing special care; hand-wash, air-dry, stain treatment. We'll also hang and fold according to your preferences.                    
                  Ironing is a separate fee of $3 per garment.                  
                  Items that are not clothing (tablecloths, cleaning rags, etc.) are priced based on the quantity and other processing requirements. Contact our Sales Team for speciality pricing. </div>                  
              </div>

             <div class="two faq">

                <div>
                  When is my laundry retured?
                  <i class="fa fa-expand fa-expand-2" question="6820" aria-hidden="true"></i>
                  <i class="fa fa-compress fa-compress-2" question="6820" aria-hidden="true" style="display: none;"></i>  
                </div>

                <br>

                <div class="faq-answer faq-answer-2" question="6820" style="display: none;">
                  Our standard turnaround is 2 days and is included in our service (no extra fee). If you need it back sooner you can request same day / next day delivery. There is an additional mark up of 30% of your invoice for a faster turnaround.
                </div>

              </div>

              <div class="hide-on-small three faq">

                  <div>
                    How do I find out if you cover my area?
                    <i class="fa fa-expand fa-expand-3" question="6820" aria-hidden="true"></i>
                    <i class="fa fa-compress fa-compress-3" question="6820" aria-hidden="true" style="display: none;"></i>  
                  </div>
  
                  <br>
  
                  <div class="faq-answer faq-answer-3" question="6820" style="display: none;">On the Home page or the Residential page, enter your address in the "enter pickup address" box. We'll check to see if our drivers serve your location and let you know right away!
                  </div>

              </div>
        


              <div class="hide-on-small four faq">

                <div>
                  How do I get started?
                  <i class="fa fa-expand fa-expand-4" question="6820" aria-hidden="true"></i>
                  <i class="fa fa-compress fa-compress-4" question="6820" aria-hidden="true" style="display: none;"></i>  
                </div>

                <br>

                <div class="faq-answer faq-answer-4" question="6820" style="display: none;">
                  Setting up laundry service is easy! Once you've created your account, you can request your first pickup!</div>  
            </div>

          <div class="five faq-btn">
            <a class="modalBtn-2 faq-btn-a view-more-questions">My Caps Ready?</a>
          </div>

        </div> <!--  end faq-wrapper -->
            
        </section>
        

        </div>

       
 </section>

 <style>
   .success, .error {
     color: white;
     padding: 5px;
     margin: 5px 0 15px 0;
   }

   .success {
     background:green;
   }

   .error {
     background: red;
   }
 </style>


<!--####### Cap Show Template ############################################################################################################################################################################################################################################################################################################################################################################################ -->

<!-- <section class="modal" > -->

  
<section id="myModal" class="modal" >

  <div class="modal-content">


 <div class="parent">

   <div class="modal-header">
                  <span class="closeBtn">&times;</span>
                  <h3 class="section-heading-spacing">CapCare</h3>
    </div>
    <br>

    <table>
      <thead>
        <tr class="">
          <th>Customer ID</th>
          <th >Caps Ready</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody id="cap-list">        
          <% caps.forEach(function(cap){ %>
            <tr class="">
              <td><%= cap.customerID %></td>
              <td><%= cap.capsReady %></td>
              <td><%= cap.desc %></td>
           </tr>
          <%  }) %>
        </tr>
      </tbody>
    </table>

   </div> <!-- end of container  -->
  </div>
</section>


<!--####### End Of Cap Show Template ############################################################################################################################################################################################################################################################################################################################################################################################ -->

        

<!--####### Modal 2-- Site Still Under Construction ############################################################################################################################################################################################################################################################################################################################################################################################ -->

<!-- <section class="modal" > -->

  
  <section id="myModal-2" class="modal" >

    <div class="modal-content">
  
  
   <div class="parent">
  
     <div class="modal-header">
                    <span class="closeBtn-2">&times;</span>
                    <h3 class="section-heading-spacing">ArewaCaps</h3>
      </div>
      <br>
      <p style="text-align: center; color: #929496;">Site Still Under Construction
        <br>
        Courtesy: <span></span> <a style="color:  #95c0eb;" href="https://www.afrocodez.com">Afrocodez</a>
      </p>

      <!--blue #52b1ff; -->
      <!--pink #e951a7; -->
      <!-- ash #929496; -->
  
      
      

      
  
     </div> <!-- end of container  -->
    </div>
  </section>
  
  
  <!--####### End Of Modal 2 ############################################################################################################################################################################################################################################################################################################################################################################################ -->
  
          



        <!-- Get Started CTA -->
        <section class=" home-page-section-c container">
          <div class="get-started-wrapper">
            <div class="one">
              <h1>Get started today!</h1>
            </div>
          </div> <!--end of CTA wrapper-->

            <form action="" id="address-box-2" class="address-box">
              <div class="wrapper">
              <div class="form-group">
                <label for="">Enter your pickup address:</label>
                <input type="text" placeholder="No 75, Maimasa Compound...">
              </div>
              <div class="two button1">
              <a href="">GO</a>
            </div>
              <!-- <input type="submit"> -->
            </div>
            <div class="clr"></div>
            </form>
            
            <br>

      </section>


      <!-- footer -->
 <footer class="container">
  <div class="footer-wrapper float-none">
    <div  class="footer-one">


      
      <li class="footer-li-title">ArewaCaps</li>
      <br>

      <a href="" class="logo"><img src="" alt=""></a>
      <a href="" class="purchase-gift-card"><img src="" alt=""></a>

      <ul class="list-inline social centered">
        <li>Connect with us on</li>
        <br>
        <li><a href="#" class="footer-link"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="footer-link"><i class="fa fa-facebook"></i></a></li>
    </ul>
    </div>

    <div class="two">
      <ul class="quick-links">
        <li class="footer-li-title">QUICK LINKS</li>
        <br>
        <li>Residential</li>
        <li>Commercials</li>
        <li>locations</li>
        <li>Pricing</li>
        <li>FAQ</li>
        <li>Blog</li>
        <li>Signup</li>
        <li>Privacy Policy</li>
      </ul>
    </div>
    <div class="three">
        <ul class="footer-ul contact-us">
          <li class="footer-li-title">CONTACT US</li>
          <br>
          <li>EMAIL</li>
          <li>PHONE</li>
          <li><a href="tel:08172997990" class="footer-link">08172997990</a></li>
          <br>
          <li>HOME OFFICE HOURS</li>
          <li>
            <br>
            Mon-Fri 9am - 8pm
            <br>
            Sat-Sun 10am - 5pm
          </li>
          <br>
          <li>CLOSED HOLIDAYS</li>
          <li>
            <br>
            Eid ul FitrDay
            <br>
            Eid ul Adhaa Day
            <br>
            Eid ul FitrDay
            <br>
            Eid ul Adhaa Day
          </li>
        </ul>
    </div>

  </div> <!--end of footer wrapper-->

  <div class="copyright">
    <p>
      <small>
        Copyright &copy; ArewaCaps 2023. All rights reserved.
        <br>
        Website created by <a href="https://www.afrocodez.com">Afrocodez</a>
      </small>
    </p>
  </div>

</footer>


<!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
<!-- https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css -->
<script src='/js/bundle.js'></script>
<script src="./dist/db.js"></script>
<script src="./dist/index.js"></script>

</body>
</html>

